/* layout.css */
.dayday {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-around; /* Center items horizontally */
  }
  
  .daydayblock {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
  }
  
  /* App.css */
  .App {
    text-align: center;
  }
  
  .title1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .information {
    margin-top: 20px;
  }
  
  #total-report {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  #graph {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  /* Adjust other styles based on your preference */
  